    <form id="formulario" action="/api/products/formulario" method="POST" enctype="multipart/form-data">
        <h4>Ingreso de stock</h4>
        <div class="form-group">
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="text" name="price" id="price" required>
        </div>
        <div class="form-group">
            <label for="thumbnail">Foto</label>
            <input type="file" name="thumbnail" id="thumbnail" required>
        </div>
        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" name="code" id="code" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" name="stock" id="stock" required>
        </div>
        <div class="form-group">
            <label for="category">Categoría</label>
            <input type="text" name="category" id="category" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" required></textarea>
        </div>
        <div class="form-group">
        <label for="status">Estado</label>
        <label class="switch">
        <input type="checkbox" name="status" id="status" value="true" checked disabled>
        <span class="slider"></span>
        </label>
</div>

        <div class="form-group">
            <button class="botons" type="submit">Cargar</button>
        </div>
        </form>

        <div id="products"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
